{% load static i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{% static 'css/vendor/font-awesome/css/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
</head>
<body>
    <div class="container pb-2 pr-0 pl-0">
        <h4 class="pb-3">Micro Management</h4>
        <div class="container-fluid pt-1 pr-4 pl-4">
            <form action="{% url 'add' %}" method="post" class="row mb-3">
                    {% csrf_token %}
                <div class="input-group mb-1">
                    {{ form.text }}
                    <div class="input-group-append">
                        <input type="submit" name="add-task" value="Add Task" class="btn btn-add">
                    </div>
                </div>
            </form>

            <div class="task-list">
                {% for task in task_list %}
                    {% if task.complete %}
                        <div class="row">
                            <div class="col-lg-2">
                                <a href="{% url 'complete' task.id %}" class="fa fa-check-circle-o"></a>
                            </div>
                            <div class="col-lg-8">
                                <span>{{ task.text }}</span>
                            </div>
                            <div class="col-lg-2 text-right">
                                <a href="{% url 'delete' %}" class="fa fa-trash-o"></a>
                            </div>
                        </div>
                    {% else %}
                        <div class="row">
                            <div class="col-lg-2">
                                <a href="{% url 'complete' task.id %}" class="fa fa-circle-o"></a>
                            </div>
                            <div class="col-lg-10">
                                <span>{{ task.text }}</span>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>