{% load static i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{% static 'css/vendor/font-awesome/css/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
</head>
<body>
    <div class="container pb-4 pt-3 rounded">
        <h2>Micro Management</h2>
        <form action="{% url 'add' %}" method="post" class="row mb-3">
                {% csrf_token %}
            <div class="col-lg-9">
                {{ form.text }}
            </div>
            <div class="col-lg-3 pr-5">
                <input type="submit" name="add-task" value="Add Task" class="btn btn-add">
            </div>
        </form>

        <div class="container-fluid">
            <div class="task-list">
                {% for task in task_list %}
                    {% if task.complete %}
                        <div class="row pt-2 pb-2">
                            <div class="col-lg-2">
                                <a href="{% url 'complete' task.id %}" class="fa fa-check-square-o"></a>
                            </div>
                            <div class="col-lg-8">
                                <span>{{ task.text }}</span>
                            </div>
                            <div class="col-lg-2 text-right">
                                <a href="{% url 'delete' %}" class="fa fa-trash-o"></a>
                            </div>
                        </div>
                    {% else %}
                        <div class="row pt-2 pb-2">
                            <div class="col-lg-2">
                                <a href="{% url 'complete' task.id %}" class="fa fa-square-o"></a>
                            </div>
                            <div class="col-lg-10">
                                <span>{{ task.text }}</span>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>