<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" />
    <link ref="stylesheet" href="../static/css/main.css" />
</head>
<body>
    <div class="container bg-warning pb-5 rounded">
        <h2>Add a Task</h2>
        <form action="#" method="post" class="row">
                <div class="col-lg-9">
                    <input type="text" name="task" class="form-control" />
                </div>
                <div class="col-lg-3 pr-5">
                    <input type="submit" name="add-task" value="Add Task" class="btn btn-success">
                </div>
        </form>

        <div class="row mt-5">
            <div class="col-lg-2">
                <span class="fa fa-square fa-fw"></span>
            </div>
            <div class="col-lg-10">
                <span>This is a sample task</span>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>